[Desktop Entry]
Encoding=UTF-8
Name=Link to install FFMPEG from source on Ubuntu 14.0.4
Type=Link
URL=http://embedonix.com/articles/linux/installing-ffmpeg-from-source-on-ubuntu-14-0-4/
Icon=text-html
